* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bloco-azul-claro {
  background-color: #add8e6;
  padding: 20px;
  border-radius: 5px;
}
.bloco-azul-claro img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
.bloco-azul-claro .links {
  width: 600px;
  margin: 20px auto;
}
